html, body {
  background: #718EA4;
  margin: 0;
}

h1, h2 {
  margin:0;
  padding: 10px;
}

h1 {
  background: #042037;
  color: white;
}

.has-error {
  color: red;
}

.has-error input {
  border: 1px red solid;
}
